main {
    background-color: pink;
}

section {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section h2 {
    font-size: 5em;
}

section p {
    font-size: 2.5em;
}